<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MailPassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA8gY5H+a570+R2PjsZmMUvAAAAAACAAAAAAADZgAAwAAAABAAAACrsxsQlycVw/LF1QlBA9wDAAAAAASAAACgAAAAEAAAABPFwJrNFpg9P+GLEXg/SvwgAAAA1aSZ1BhQAcRjXW5JzAVpA/N7wq/+SU8RTIRBgUb1k6cUAAAAX5ySb5ay7AzhbUaw/hhKSlmGpf8="/>
    <add key="MailUserName" value="innocentlooks.gupta@gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPServerName" value="smtp.gmail.com"/>
    <add key="HTMLTemplatePath" value="C:\Users\v-aygu\documents\visual studio 2015\Projects\ExchangeServiceUtility\ExchangeServiceUtility\EmailTemplate.html"/>
    <add key="WorkFlowFailuresBanner" value="C:\Users\v-aygu\documents\visual studio 2015\Projects\ExchangeServiceUtility\ExchangeServiceUtility\Images\WorkflowFailures.PNG"/>
    <add key="MicrosoftLogoFooter" value="C:\Users\v-aygu\documents\visual studio 2015\Projects\ExchangeServiceUtility\ExchangeServiceUtility\Images\MicrosoftImage.PNG"/>
    <add key="MailboxUpdateAlertBanner" value="C:\Users\v-aygu\Documents\Visual Studio 2015\Projects\ExchangeServiceUtility\ExchangeServiceUtility\Images\MailboxUpdateAlert.PNG" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>